<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usage created successfully!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a th:href="@{/items-gui/list}"><button>item list</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui}"><button>new item</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui/instanceTemplate}"><button>new instance</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui/{id}/show(id=${usesId})}"><button>show item</button></a>&nbsp;&nbsp;
    <br>
    <h2><p th:text="|Instance created!|" ></p></h2>
</body>
</html>