<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create Item</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
    <a th:href="@{/items-gui/list}"><button>item list</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui}"><button>new item</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui/createUsage}"><button>new instance</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui/{id}/show(id=${item.id})}"><button>show item</button></a>
    <br>
    <h2>Instances of <span th:text="${item.nomenclature}"></span></h2>

    <div class="tree">
        <div th:fragment="treeviewItem(item)">
            <span th:text="${item.nomenclature}">Item</span>
            <ul th:if="${item.getUses().size() > 0}">            
                <li th:each="child : ${item.getUses()}">
                    <i>
                        <span th:text="${child.name}">ItemInstance</span>
                    </i>                                
                    <th:block th:replace=":: treeviewItem(${child.represents})">&nbsp;&nbsp;</th:block> 
                    <a th:href="@{/items-gui/{id}/{usage_id}/deleteUsage(id=${item.id}, usage_id=${child.instanceId})}">delete</a>
                
                </li>
            </ul>
        </div>
    </div>

</body>
</html>