<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Item deleted</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2><p th:text="|Instance deleted!|" /></h2>
    <br>
    <a th:href="@{/items-gui/list}"><button>item list</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui}"><button>new item</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui/createUsage}"><button>new instance</button></a>&nbsp;&nbsp;
    <br>
</body>
</html>