<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create ItemInstance</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a th:href="@{/items-gui/list}"><button>item list</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui}"><button>new item</button></a>&nbsp;&nbsp;
    <a th:href="@{/items-gui/createUsage}"><button>new instance</button></a>&nbsp;&nbsp;
    <br>
    <h1>Create new ItemInstance</h2>
<form method="post", action="/items-gui/usage">
    <label for="itemUses">Select the item which uses the item below:</label>
    <select id="itemUses" name="itemUses">
        <option th:each="item : ${item}" th:value="${item.Id}" th:text="${item.nomenclature}">Item</option>
</select>

<br>
<br>

<label for="itemUsed">Select the Item whi h is used by the item above:</label>
<select id="itemUsed" name="itemUsed">
    <option th:each="item : ${item}" th:value="${item.Id}" th:text="${item.nomenclature}">Item</option>

<br>
<br>

<label for="itemUsage">Enter how the item is used:</label>
<br>
<input type="text" id="itemUsage" name="itemUsage">
<br>
<br>

<td><input type="submit"/>Save Usage</td>
</form>
</body>
</html>
